* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

img {
    max-width: 50px;
}

body {
    background-image: url("public/background.jpg");
    font-family:  "Roboto", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

#beer-race-parent {
    height: 100vh;
    background-color: rgb(12, 12, 12, 0.5);
    padding: 15px 8px 8px 8px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(235, 220, 220);
}

.top .wait-time h4 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 2px;
}

.top .logo h4{
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 500;
    font-family: 'Rasa', serif;
    position: relative;
}

.top .logo h4:before {
    content: "";
    position: absolute;
    left: 17%;
    top: -2px;
    width: 60%;  /* or 100px */
    border-top: 2px solid rgb(235, 220, 220);
  }

.banner {
    margin-left: -40px;
    margin-right: -40px;
    background-color: #C9802F;
    height: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em 0 1.2em 0;
}

.banner-text {
    color: rgb(255, 251, 251);
    font-size: 1.2em;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(235, 220, 220);
    margin: 1rem;
    font-size: 1.3em;
}




/**** Leading beers *****/

.race {
    height: 55vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 12px solid  #C9802F;
    background-color: rgb(131, 129, 120);
    margin: 0 1em 0 1em;
}

.bar1 {
    width: 50px;
    height: 80%;
    background-color: #F7E2AE;
    display: flex;
    justify-content: center;
  }
  
.bar2 {
    width: 50px;
    height: 10%;
    background-color: #F7E2AE;
    display: flex;
    justify-content: center;
  }

.bar3 {
    width: 50px;
    height: 5%;
    background-color: #F7E2AE;
    display: flex;
    justify-content: center;
  }

.bars-text {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: goldenrod;
}

.beer1 .beer2, .beer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 1;
    max-width: 40px;
    background-color: yellow;
}

.number1, .number2, .number3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-parent {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: rgb(247, 53, 53);
}



.amount1, .amount2, .amount3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.name1, .name2, .name3 {
    display: flex;
    justify-content: center;
    background-color: green;
}

#beer-image {
    max-height: 50px;
    width: 100%;
}







.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.button {
    background: #f69335;
    border: 3px solid #ffffff;
    padding: 0.5em;
    box-sizing: border-box;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.51);
    font-size: 1.2em;
    width: 14rem;
    font-weight: 500;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    background-color: #1c1c1c;
    color: white;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    
}

li {
    list-style: none;
}

